<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Page Title{% endblock %}</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/pg-calendar/css/pignose.calendar.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/chartist/css/chartist.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css') }}">
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <div id="main-wrapper">
    
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
    
            <div class="header">    
                <div class="header-content clearfix">
                    
                    <div class="nav-control">
                        <div class="hamburger">
                            <span class="toggle-icon"><i class="icon-menu"></i></span>
                             <!-- <h4>AAWSA PORTAL</h4> -->
                        </div>
                    </div>
                    <div class="header-left">
                        <div class="input-group icons">
                            <!-- <div class="input-group-prepend">
                                <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                            </div> -->
                            <!-- <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard"> -->
                            <!-- <div class="drop-down animated flipInX d-md-none">
                                <form action="#">
                                    <input type="text" class="form-control" placeholder="Search">
                                </form>
                            </div> -->
                        </div>
                    </div>
                    <div class="header-right">
                        <ul class="clearfix">
                            <!-- <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                                    <i class="mdi mdi-email-outline"></i>
                                    <span class="badge badge-pill gradient-1">3</span>
                                </a>
                                <div class="drop-down animated fadeIn dropdown-menu">
                                    <div class="dropdown-content-heading d-flex justify-content-between">
                                        <span class="">3 New Messages</span>  
                                        <a href="javascript:void()" class="d-inline-block">
                                            <span class="badge badge-pill gradient-1">3</span>
                                        </a>
                                    </div>
                                    <div class="dropdown-content-body">
                                         <ul>
                                            <li class="notification-unread">
                                                <a href="javascript:void()">
                                                    <img class="float-left mr-3 avatar-img" src="images/avatar/1.jpg" alt="">
                                                    <div class="notification-content">
                                                        <div class="notification-heading">Saiful Islam</div>
                                                        <div class="notification-timestamp">08 Hours ago</div>
                                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="notification-unread">
                                                <a href="javascript:void()">
                                                    <img class="float-left mr-3 avatar-img" src="images/avatar/2.jpg" alt="">
                                                    <div class="notification-content">
                                                        <div class="notification-heading">Adam Smith</div>
                                                        <div class="notification-timestamp">08 Hours ago</div>
                                                        <div class="notification-text">Can you do me a favour?</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void()">
                                                    <img class="float-left mr-3 avatar-img" src="images/avatar/3.jpg" alt="">
                                                    <div class="notification-content">
                                                        <div class="notification-heading">Barak Obama</div>
                                                        <div class="notification-timestamp">08 Hours ago</div>
                                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void()">
                                                    <img class="float-left mr-3 avatar-img" src="images/avatar/4.jpg" alt="">
                                                    <div class="notification-content">
                                                        <div class="notification-heading">Hilari Clinton</div>
                                                        <div class="notification-timestamp">08 Hours ago</div>
                                                        <div class="notification-text">Hello</div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </li>
                            <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                                    <i class="mdi mdi-bell-outline"></i>
                                    <span class="badge badge-pill gradient-2">3</span>
                                </a>
                                <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                    <div class="dropdown-content-heading d-flex justify-content-between">
                                        <span class="">2 New Notifications</span>  
                                        <a href="javascript:void()" class="d-inline-block">
                                            <span class="badge badge-pill gradient-2">5</span>
                                        </a>
                                    </div>
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="javascript:void()">
                                                    <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                    <div class="notification-content">
                                                        <h6 class="notification-heading">Events near you</h6>
                                                        <span class="notification-text">Within next 5 days</span> 
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void()">
                                                    <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                    <div class="notification-content">
                                                        <h6 class="notification-heading">Event Started</h6>
                                                        <span class="notification-text">One hour ago</span> 
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void()">
                                                    <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                    <div class="notification-content">
                                                        <h6 class="notification-heading">Event Ended Successfully</h6>
                                                        <span class="notification-text">One hour ago</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void()">
                                                    <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                    <div class="notification-content">
                                                        <h6 class="notification-heading">Events to Join</h6>
                                                        <span class="notification-text">After two days</span> 
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </li> -->
                            <li class="icons dropdown d-none d-md-flex">
                                <a href="javascript:void(0)" class="log-user"  data-toggle="dropdown">
                                    <span>English</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                                </a>
                                <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li><a href="javascript:void()">English</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="icons dropdown">
                                <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                    <span class="activity active"></span>
                                    <img src="images/user/1.png" height="40" width="40" alt="">
                                </div>
                                <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                            </li>
                                            <!-- <li>
                                                <a href="javascript:void()">
                                                    <i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill gradient-1">3</div>
                                                </a>
                                            </li>
                                            
                                            <hr class="my-2"> -->
                                            <!-- <li>
                                                <a href="page-lock.html"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                            </li> -->
                                            <li><a href="{{ url_for('logout') }}"><i class="icon-key"></i> <span>Logout</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--**********************************
                Header end ti-comment-alt
            ***********************************-->
    
            <!--**********************************
                Sidebar start
            ***********************************-->
            <div class="nk-sidebar collapsed" id="sidebar">           
                <div class="nk-nav-scroll">
                    <ul class="metismenu" id="menu">
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="{{url_for('navigation')}}">Dashboard</a></li>
                                <!-- <li><a href="./index-2.html">Home 2</a></li> -->
                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-speedometer menu-icon"></i><span class="nav-text">አባላት ማስተዳደሪያ ማስተዳደሪያ</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="{{url_for('manage_members')}}">አባላት መመዝገቢያ</a></li>
                                <li><a href="{{url_for('upload_member_registration')}}">አባላት Upload ማድረጊያ</a></li>
                                <li><a href="{{url_for('attendance')}}">አባላት (Attendance)</a></li>
                                <!-- <li><a href="./index-2.html">Home 2</a></li> -->
                            </ul>
                        </li>
                        <li class="mega-menu mega-menu-sm">
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-note menu-icon"></i><span class="nav-text">ረፖርት</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="{{url_for('attendance_report')}}">የአቴንዳንስ ሪፖርት</a></li>
                        </ul>
                
                        <li class="mega-menu mega-menu-sm">
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-note menu-icon"></i><span class="nav-text">Reports</span>
                            </a>
                        
                            <ul aria-expanded="false">
                                <li><a href="{{url_for('report_page')}}">Summary Reports</a></li>
                                <li><a href="{{url_for('list_paid_bills')}}">List Of Paid Bills</a></li>
                                <li><a href="{{url_for('list_sent_bills')}}">List Of Sent Bills</a></li>
                                <li><a href="{{url_for('list_unsettled_bills')}}">List Of Unsettled Bills</a></li>
                                <li><a href="{{url_for('bill_table_ubs_export')}}">Bill Data</a></li>
                                <li><a href="{{url_for('call_center_unsettled')}}">Unsettled Bills For Call Center</a></li>
                                <li><a href="{{url_for('delivery_route_export')}}">Delivery Summary by Book</a>
                                <li><a href="{{url_for('settled_route_export')}}">Settled Summary by Book</a>
                                <li><a href="{{url_for('unsettled_route_export')}}">Unsettled Summary by Book</a>
                                <li><a href="{{url_for('delivery_cg_export')}}">Delivery Summary by Charge Group</a>
                                <li><a href="{{url_for('settled_cg_export')}}">Settled Summary by Charge Group</a>
                                <li><a href="{{url_for('unsettled_cg_export')}}">UnSettled Summary by Charge Group</a>
                                <li><a href="{{url_for('gl_detail_export')}}">GL Detail Report For Finance</a>
                                <li><a href="{{url_for('list_unmatched')}}">List Of Un match</a></li>
                            </ul>
                        </li>
                        <li class="nav-label">Admin Tools</li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-speedometer menu-icon"></i> <span class="nav-text">Upload and Download</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="{{url_for('upload_bill')}}">Upload BillS</a></li>
                                <li><a href="{{url_for('upload_vat')}}">Upload VAT</a></li>
                                <li><a href="{{url_for('move_data')}}">Move Old Bills</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-user menu-icon"></i><span class="nav-text">User Managment</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="{{url_for('user_management')}}">user management</a></li>
                                <li><a href="{{ url_for('manage_roles') }}">Manage Roles</a></li>
                                <li><a href="{{ url_for('manage_routes') }}">Manage Routes</a></li>


                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-graph menu-icon"></i> <span class="nav-text">Charts</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="#">Sent Vs Paid</a></li>
                                <li><a href="#">Month Comparison</a></li>
                                <li><a href="#">Active User</a></li>
                                <li><a href="./chart-peity.html">Peity</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-graph menu-icon"></i> <span class="nav-text">Finance Reconslilation</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="{{url_for('reconciliation')}}">Reconslilation</a></li>
                                <li><a href="{{url_for('reconciliation')}}">Reconslilation Result</a></li>
                                <li><a href="#">Active User</a></li>
                                <li><a href="./chart-peity.html">Peity</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-graph menu-icon"></i> <span class="nav-text">Customer Service</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="{{url_for('payment_management')}}">Bill Correction</a></li>
                                <li><a href="{{url_for('bill_current_corr_export')}}">Currect Month Bill Correction Report</a></li>
                                <li><a href="{{url_for('bill_past_corr_export')}}">Past Month Bill Correction Report</a></li>
                                <li><a href="{{url_for('bulk_payments')}}">Bulk Update</a></li>
                                <li><a href="{{url_for('upload_payment_unsent')}}">Bulk Update data</a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-graph menu-icon"></i> <span class="nav-text">NRW Reports</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="{{url_for('bill_table_ubs_export')}}">Bill Data</a></li>
                                <li><a href="{{url_for('xyz_export')}}">XYZ Coordinate Report</a></li>

                            </ul>
                        </li>
                        <li class="nav-label">Past Month Reports</li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-grid menu-icon"></i><span class="nav-text">Monthily Reports</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="{{url_for('export_data')}}">Delivery</a></li>
                                <li><a href="{{url_for('export_data_settled')}}">Settled</a></li>
                                <li><a href="{{url_for('export_data_unsettled')}}">Unsettled</a></li>
                                <li><a href="{{url_for('export_data_delivery_cg')}}">Delivery by Book Number</a></li>
                                <li><a href="{{url_for('export_data_settled_cg')}}">settled by Book Number</a></li>
                                
                            <!-- </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-layers menu-icon"></i><span class="nav-text">Components</span>
                            </a>
                            <ul aria-expanded="false"> -->
                            </ul>
                        </li>



                        
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-grid menu-icon"></i><span class="nav-text">Finance</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="{{url_for('export_data_gl')}}">GL Detail Report</a></li>
                                <li><a href="#">Delivery For Finance</a></li>
                                <li><a href="#">Settled For Finance</a></li>
                                <li><a href="#">UnSettled For Finance</a></li>
                            <!-- </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-layers menu-icon"></i><span class="nav-text">Components</span>
                            </a>
                            <ul aria-expanded="false"> -->
                            </ul>
                        </li>
                        <li>
                            <a href="widgets.html" aria-expanded="false">
                                <i class="icon-badge menu-icon"></i><span class="nav-text">Futuer Implement</span>
                            </a>
                        </li>
                        <li class="nav-label">Futuer</li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-note menu-icon"></i><span class="nav-text">Futuer Implement</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="#">Futuer 1</a></li>
                                <li><a href="#">Futuer 2</a></li>
                            </ul>
                        </li>
                        <li class="nav-label">Futuer Implement</li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-menu menu-icon"></i><span class="nav-text">Futuer</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="#" aria-expanded="false">Futuer 3</a></li>
                                <li><a href="#" aria-expanded="false">Futuer 4</a></li>
                            </ul>
                        </li>
                        <li class="nav-label">Setting</li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-notebook menu-icon"></i><span class="nav-text">Setting</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="#">Login</a></li>
                                <li><a href="#">Register</a></li>
                                <li><a href="#">Lock Screen</a></li>
                                <!-- <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                                    <ul aria-expanded="false">
                                        <li><a href="./page-error-404.html">Error 404</a></li>
                                        <li><a href="./page-error-403.html">Error 403</a></li>
                                        <li><a href="./page-error-400.html">Error 400</a></li>
                                        <li><a href="./page-error-500.html">Error 500</a></li>
                                        <li><a href="./page-error-503.html">Error 503</a></li>
                                    </ul> -->
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        <!-- Main Content -->
        <div class="content-body">
            {% block content %}
            <!-- Page-specific content goes here -->
            {% endblock %}
        </div>

    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='plugins/common/common.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gleek.js') }}"></script>
    <script src="{{ url_for('static', filename='js/styleSwitcher.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/chart.js/Chart.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/circle-progress/circle-progress.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/d3v3/index.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/topojson/topojson.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/datamaps/datamaps.world.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/raphael/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/morris/morris.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/pg-calendar/js/pignose.calendar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/chartist/js/chartist.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js') }}"></script>
</body>
</html>
